*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: "Open Sans",sans-serif;
	font-size: 15px;
	background-color: #efefef;
}

a {
	color: #0073EA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
	margin: 1em 0 0.5em 0;
	font-weight: 600;
}

ul {
	list-style-type: square;
}

h1 {
	letter-spacing: -2px;
}

.page-content h1 {
	margin-top: 0.25em;
	font-weight: 600;
}

.page-content {
	padding-right: 2em;
}

p {
    font-family: "Droid Serif",serif;
    line-height: 1.5em;
}

hr {
	border-color: #e4edff;
}

img {
	border-radius: 2px;
}

.breadcrumb {
	background: #fff;
	border-bottom: 1px solid #e4edff;
	padding: 0 0 1em 0;
	margin-top: 0.5em;
}

.container {
	background: #fff;
	border-radius: 2px;
}

body {
	padding-bottom: 2em;
}

#footer {
	margin-bottom: 1em;
	color: #666;
}

#banner {
	border-radius: 0;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.page-header {
	border-bottom: none;
	margin-bottom: 0;
	margin-top: 0;
}

#contact {
	padding: 0.5em 1.25em;
	background: #efefef;
	border-radius: 2px;
}

li.phone {
	padding-top: 0.5em;
}

.vcard {
	list-style: none;
	padding-left: 0;
}

#banner {
	height: 240px;
	text-align: left;
}

#banner .logo-box {
	color: white;
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5em 0.75em;
	margin-top: 1em;
	border-radius: 2px;
}

#banner h1 {
	margin-top: 0;
}

#banner table {
	width: 100%
}

#banner table td {
	padding: 2px;
}

#banner table td {
	text-align: right;
}

#banner table td.number {
	text-align: right;
	font-weight: bold;
}

.select-language {
	background-color: #efefef;
}

.select-language ul {
	list-style: none;
}
.select-language li {
	float: right;
	padding: 0.5em 0 0.5em 0.5em;
}
.select-language .selected {
	color: #666;
}