<!DOCTYPE html>
<html lang="{{ cohort.language.id }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!--[if lt IE 9]>
        <script src="./media/scripts/html5shiv.min.js"></script>
        <script src="./media/scripts/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" rel="stylesheet" type="text/css" href="./media/styles/bootstrap.css">
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="./media/styles/main.css">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <link href="./media/styles/font-awesome.css" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% if cohort.copyright %}
    <div class="container">
        <div class="row" id="footer">
            <div class="col-md-8">© {{ cohort.copyright }}</a></div>
        </div>
    </div>
    {% endif %}

    <script src="./media/scripts/jquery.js"></script>
    <script src="./media/scripts/bootstrap.js"></script>
</body>
</html>